* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  background-color: #58035b;
  height: 100%;
  width: 100%;
  color: #fff;
}

.container {
  height: 100vh;
  width: 100%;
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  font-size: 60px;
  font-weight: 600px;
}
