* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  background-color: #111;
  height: 100%;
  width: 100%;
}
.parent {
  width: 1500px;
  height: 1000px;
  background-color: crimson;
  border: 3px solid blue;
  font-size: 20px;
}
h1 {
  color: #fff;
  width: 30ch;
  /* text-align:     center; */
  /* 1em=font size mentioned in parent element */
}
h2 {
  font-size: 2 rem;
  color: #fff;
  text-align: center;
  /* 1 rem= font size of root element by default it is 16px */
}
p {
  color: #fff;
  font-size: 20px;
}
.lastPara {
  margin-top: 4lh;
  color: #fff;
}
