* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  background-color: #111;
  height: 100%;
  width: 100%;
}
.parent {
  width: 50%;
  height: 50%;
  background-color: crimson;
  border: 3px solid blue;
}

.child {
  height: 20%;
  width: 20%;
  background-color: lightseagreen;
  border: 2px solid white;
}
