@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #777;
  background-color: #f1f1f1;
}

ul,
li {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 50px;
  border-bottom: 1px solid #777;
  color: #444;
}
.logo {
  height: 60px;
  width: 60px;
}
.nav-title {
  color: #444;
}
.article-title {
  color: #444;
}
.aside-title {
  color: #444;
}
article img {
  border-radius: 10px;
}
