@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #777;
  background-color: #f1f1f1;
}

ul,
li {
  list-style: none;
  margin-bottom: 7px;
  text-decoration: underline;
  font-size: 18px;
  line-height: 2;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 80px;
  border-bottom: 1px solid #d4d4d4;
  color: #343434;
}
.header h1 {
  font-size: 34px;
  color: #222;
}
.article {
  padding: 30px;
}
.article img {
  margin-bottom: 30px;
}
.logo {
  height: 60px;
  width: 60px;
}
.nav-title {
  color: #444;
  margin-bottom: 10px;
  font-size: 22px;
}
.article-title {
  color: #222;
  font-size: 34px;
  margin-bottom: 30px;
  max-width: 800px;
}
.aside-title {
  color: #444;
  margin-bottom: 10px;
  font-size: 22px;
}
.article img {
  border-radius: 10px;
}
.article p {
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 2.5;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 40px;
}
.header {
  grid-column: span 3;
}
.nav {
  border-right: 1px solid #ddd;
  padding: 20px;
}
.aside {
  border-left: 1px solid #ddd;
  padding: 20px;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #d4d4d4;
  grid-column: span 3;
  text-align: center;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #777;
  }
  .article {
    grid-column: span 2;
  }
  .nav li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  .article-title {
    color: #222;
    font-size: 32px;
    margin-bottom: 30px;
  }
  .aside-title {
    color: #444;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .article p {
    font-size: 18px;
    margin-bottom: 17px;
    line-height: 2;
  }
  .footer {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .nav,
  .article,
  .aside {
    grid-column: span 3;
  }
}
@media (max-width: 840px) {
  .article-title {
    font-size: 28px;
  }
  .article img {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 510px) {
  .article-title {
    font-size: 24px;
  }
  .article img {
    width: 100%;
    height: 350px;
  }
  .nav-title {
    font-size: 20px;
  }
  .nav li {
    font-size: 18px;
  }
  .article p {
    font-size: 16px;
    .footer {
      font-size: 24px;
    }
  }
}
@media (max-width: 450px) {
  .nav-title {
    font-size: 18px;
  }
  .nav li {
    font-size: 16px;
  }
  .article-title {
    font-size: 20px;
  }
  .article img {
    width: 100%;
    height: 200px;
  }
  .aside-title {
    font-size: 20px;
  }
  .aside li {
    font-size: 16px;
  }
  .footer h4 {
    font-size: 18px;
  }
}
