* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
}

.grid-container {
  margin: 0 auto;
  max-width: 900px;
  background-color: #ccc;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  /* justify-items: stretch; */
  /* align-items: start; */
}
.item {
  color: #fff;
  font-size: 30px;
  padding: 20px;
  /* width: 100px; */
  /* background-color: crimson; */
  border: 2px solid #777;
  text-align: center;
}
.grid-container > div:nth-child(1) {
  background-color: lightgreen;
  grid-column: 1 / span 2;
}
.grid-container > div:nth-child(2) {
  background-color: lightsalmon;
  grid-column: span 2;
}
.grid-container > div:nth-child(3) {
  background-color: lightseagreen;
  grid-column: span 2;
}
.grid-container > div:nth-child(4) {
  background-color: lightskyblue;
  grid-column: 2/6;
  align-self: end;
  height: 200px;
  /* justify-self: stretch; */
}
.grid-container > div:nth-child(5) {
  background-color: rgb(20, 67, 114);
  grid-column: span 3;
}
.grid-container > div:nth-child(6) {
  background-color: crimson;
  grid-column: span 3;
  /* align-self: end; */
}
