@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #f6f6f6;
}
.nav {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 50px;
  background-color: #fff;
}
.nav h3 {
  font-size: 30px;
  cursor: pointer;
  color: #030014;
}
ul,
li {
  display: inline-block;
  list-style: none;
  text-align: center;
  margin-right: 15px;
  font-size: 22px;
  cursor: pointer;
  color: #030014;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* justify-items: center; */
  justify-content: center;
  column-gap: 7px;
  row-gap: 40px;
}
.product {
  display: flex;
  flex-direction: column;
  color: #8a8a8a;
  background-color: #fff;
  /* justify-content: center; */
  align-items: center;
  border-radius: 5px;
}

.product img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
.product p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  padding-left: 5px;
  color: #111;
}
.product span {
  font-size: 22px;
  padding-left: 5px;
  padding-bottom: 5px;

  color: #111;
}
footer h4 {
  margin-top: 100px;
  padding: 50px 100px;
  border-top: 1px solid #e9e9e9;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 568px) {
  .nav h3 {
    font-size: 26px;
  }
  ul,
  li {
    margin-right: 10px;
    font-size: 20px;
  }
}
@media (max-width: 440px) {
  .nav {
    padding: 20px 30px;
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }
  .nav h3 {
    margin-bottom: 15px;
  }
}
