@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quintessential", serif;
  background-color: #000000;
  color: #ffffff;
}

header {
  max-width: 1200px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
  text-align: center;
  /* border-bottom: 2px solid #ff9d00; */

  margin: 0 auto;
}
header h2 {
  font-family: "Quintessential", serif;
  color: #ff9d00;
  font-size: 60px;
  font-weight: 600;
  /* border-bottom: 2px solid #ff9d00; */
  display: inline-block;
  /* padding: 10px; */
}

img {
  width: 100%;
  height: 230px;
  border-radius: 20px;
  border: 4px solid #ebebeb;
  margin-bottom: 15px;
}
.featured-article {
  margin-bottom: 15px;
}
p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
.grid-container {
  padding: 60px;
  margin: 10px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.grid-container .featured-post {
  grid-column: span 3;
}

.featured-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
  padding: 80px 0;
  border-top: 2px solid #ff9d00;
  border-bottom: 2px solid #ff9d00;
}
.featured-post h2 {
  color: #ff9d00;

  margin-bottom: 20px;
  font-size: 28px;
}
.featured-post img {
  width: 100%;
  height: 280px;
}

article h3 {
  color: #ff9d00;
  margin-bottom: 20px;
  font-size: 24px;
}

footer {
  padding-top: 100px;
  text-align: center;
  padding: 20px 0;
}
footer h4 {
  display: inline-block;
  border-top: 1px solid #fff;
  padding: 20px;
  font-size: 18px;
  color: #ff9d00;
}
article h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}
