@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 20px;
  /* font-family: "Poppins"; */
  /* font-family: "Quintessential", serif; */
  font-family: "Amarante", serif;
  /* background-color: #000000; */
  /* color: #ffffff; */
  color: #333;
}
ul,
li {
  padding: 0;
  list-style-type: none;
}

header {
  width: 100%;
  /* border-bottom: 1px solid #ffeed1; */
  padding: 40px 0px;
  text-align: center;
}
header h2 {
  font-family: "Quintessential", serif;
  /* color: #fab12f; */
  color: #ff9d00;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  border-bottom: 3px solid #ff9d00;
  display: inline-block;
  padding: 10px;
}

img {
  width: 500px;
  height: 300px;
  border-radius: 25px;
  /* border: 3px solid #fff; */
  border: 5px blur #ebebeb;
}
p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
.grid-container {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.grid-container .featured-post {
  grid-column: span 3;
}
.featured-post {
  display: grid;
  padding: 50px 0;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.featured-post img {
  width: 800px;
  height: 500px;
}
.featured-post p {
  width: 600px;
}
article h2 {
  margin-bottom: 15px;
  font-size: 30px;
}

footer {
  border-top: 1px solid #fff;
  padding: 20px 0;
}
footer h4 {
  text-align: center;
  font-size: 18px;
}
article h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}
