* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 70px;
  text-align: center;
  color: #fff;
  background-color: #111;
}
.header {
  width: 100%;
  height: 200px;
  background-color: lightgreen;
}
.container {
  display: flex;
}
.col1 {
  flex-grow: 1;
}
.col2 {
  flex-grow: 5;
}
.nav {
  background-color: lightsalmon;
  height: 100vh;
}
.content {
  display: flex;
  height: 60vh;
}
.aside {
  background-color: lightsteelblue;
  flex-grow: 1;
}
.article {
  background-color: lightcoral;
  /* flex-grow: 4; */
  flex-grow: 3;
}
.footer {
  background-color: crimson;
  width: 100%;
  height: 200px;
  /* border: 5px solid black; */
}
