* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 70px;
  text-align: center;
  color: #fff;
  background-color: #111;
}
.header {
  width: 100%;
  height: 200px;
  /* border: 5px solid red; */
  background-color: lightgreen;
}
.container {
  display: flex;
  width: 100%;
  height: 60vh;
  /* border: 2px solid blue; */
  /* justify-content: space-between; */
  background-color: rgb(51, 152, 152);
  flex-flow: 1fr 2fr 1fr;
}
.article {
  background-color: lightcoral;
  flex-grow: 4;
}
.aside {
  background-color: blueviolet;
  flex-grow: 1;
}
.nav {
  flex-grow: 1;

  background-color: lightsalmon;
}
.footer {
  background-color: crimson;
  width: 100%;
  height: 200px;
  /* border: 5px solid black; */
}
