* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 70px;
  text-align: center;
  color: #fff;
  background-color: #111;
}
.header {
  width: 100%;
  height: 200px;
  /* border: 5px solid red; */
  background-color: lightgreen;
}
.container {
  display: flex;
}
.article {
  background-color: lightcoral;
  flex-grow: 4;
}

.nav {
  flex-grow: 1;
  background-color: lightsalmon;
  height: 100vh;
}
.content {
  flex-grow: 5;
  height: 100vh;
}
.col2 {
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: crimson;
  width: 100%;
  height: 200px;
  /* border: 5px solid black; */
}
