@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-image: url("c2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
ul li {
  list-style: none;
  height: 50px;
}
nav {
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 13px 0;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  color: #0026ff;
}

nav li:first-child {
  margin-right: auto;
}
.logo {
  font-size: 26px;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #3f3f3f5b;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -10px 0 10px rgba(93, 93, 93, 0.275);
  z-index: 999;
  backdrop-filter: blur(10px);
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  color: #dbdbdb;
  font-size: 16px;
}
.menu-btn {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
