* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  /* background-color: #58035b; */
  height: 100%;
  width: 100%;
  color: #fff;
}

.container {
  /* height: 100; */
  padding: 50px;
  /* width: 600px; */
  width: 100%;
  border: 10px solid #590000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* flex-shrink: 0; */
  flex-wrap: wrap;
}

.container div {
  height: 200px;
  width: 200px;
}

.child1 {
  background-color: limegreen;
}
.child2 {
  background-color: lightpink;
}
.child3 {
  background-color: lightgreen;
}
.child4 {
  background-color: rgb(20, 43, 220);
  width: 200px;
  height: 200px;
}
